.detail-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-container .content {
    width: 100%;
    padding: 96px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.detail-container .content section {
    width: 100%;
    max-width: 380px;
}

.detail-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.detail-container section.form img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.detail-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.detail-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.detail-container .content form {
    width: 100%;
    max-width: 450px;
}

.detail-container .content form input {
    margin-top: 8px;
}