.repo-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.repo-container header{
    display: flex;
    align-items: center;
}

.repo-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.repo-container header span strong{
    color: #251FC5;
}

.repo-container header img{
    height: 64px;
}

.repo-container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.repo-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #DCDCE6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.5s;
}

.repo-container header button:hover{
    border-color: #251FC5;
}

.repo-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.repo-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.repo-container ul li{
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.repo-container ul li button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
}

.repo-container ul li button + button{
    top: 50px;
}

.repo-container ul li button:hover{
    opacity: 0.8;
}

.repo-container ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #41414D;
}

.repo-container ul li p + strong{
    margin-top: 32px;

}

.repo-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}